:root {
    --default-color: #4CAF50;
    --default-select-color: #0b5ed7;
    --default-border-radius: 8px;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("music-2805506_960_720.jpg");
    background-size: cover;
}

.registration-form {
    border: 1px solid var(--default-color);
    border-radius: var(--default-border-radius);
    padding: 16px;
    margin-bottom: 16px;
}

.form-wrapper {
    border: 1px solid var(--default-color);
    border-radius: var(--default-border-radius);
    padding: 16px;
    max-width: 640px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, .7);
}

.register-button {
    background-color: var(--default-color);
    border-radius: var(--default-border-radius);
    padding: 4px 8px;
    color: #fff;
    border: none;
}

.register-button:hover {
    background-color: var(--default-select-color);
    transition: 1s;
}

.personal-data {
    font-weight: bold;
}

.form-field {
    width: 100%;
    border: 1px solid var(--default-color);
    border-radius: var(--default-border-radius);
    margin: 8px 0;
    padding: 4px;
    box-shadow: 0 0 0  0var(--default-select-color);
}

.form-field:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--default-select-color);
    transition: 300ms;
}

.name-info {
    display: flex;
    gap: 24px;
}

.name-info label {
    flex-grow: 1;
}